<div class="container-fluid">
  <div class="row">
    <div
      class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between"
    >
      <mat-toolbar>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>keyboard_backspace </mat-icon>
        </button>

        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>card_travel</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center"
    >
      <img src="../../assets/burger2.png" alt="logo" class="styleimg" />
      <button class="btn b"></button>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between"
      style="margin-top: 50px"
    >
      <h2>Cheese Burger</h2>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>bookmark_border</mat-icon>
      </button>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-md-6 col-sm-12 col-xs-12 flex-column justify-content-start"
    >
      <div class="avatar-group">
        <div class="mat-input dtext">People like this</div>
        <div class="hidden-avatars">10+</div>
        <div class="avatar">
          <img src="https://picsum.photos/70" />
        </div>
        <div class="avatar">
          <img src="https://picsum.photos/80" />
        </div>
        <div class="avatar">
          <img src="https://picsum.photos/90" />
        </div>
        <div class="avatar">
          <img src="https://picsum.photos/100" />
        </div>
      </div>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-md-6 col-sm-12 col-xs-12 flex-column d-flex justify-content-center"
    >
      <p class="mat-h2">Description</p>

      <p class="mat-input dtext">
        Amet minim molit non deserunt ulamcoest dolor amet sintvelit officia
        consequat velit molitx vercitation veniam conse quats
      </p>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-4 col-9 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between"
    >
      <p class="price">2.100 OMR</p>
      <div class="row">
        <button class="minbutton">+</button>
        <p style="margin-left: 30px">2</p>
        <button class="button">-</button>
      </div>
    </div>
    <div
      class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center"
    >
      <button class="with-round-borders mat-button">Add To Cart</button>
    </div>
  </div>
</div>
